body{
  margin: 0;
  text-align: center;
  font-family: 'Edu VIC WA NT Beginner', cursive;
  font-size: 2em;
}

h1{
margin: 10px auto 0 auto;
font-size: 5rem;
color: #4a1c1c;
line-height: 1.6;
}

h2{
  font-size: 2rem;
  color: #6f2a2a;
  font-weight: normal;
}

.bottom{
}



.cloud-bottom{
  position: absolute;
  left: 300px;
  top: 300px;
}

.cloud-top{
position: relative;
left: 300px;
top: 100px;
}

.coder{
  height: 25%;
  width: 25%;
}

.middle{
}

.pallav-pic{
  height: 30%;
  width: 20%;
  border-radius: 100%;
}
.font{
  font-size: .75em;
}


.top{
  background-color: #E7F6F2;
  position: relative;
  padding-top: 100px;
}
