body{
    background-image: url("emile-perron-190221-unsplash.jpg");
    background-size:cover;
}


#hdiv{
    width: 60%;
    margin: 0 auto;
    font-size: 100px;
    margin-top: 50px;

}

#below{
    font-size: 50px;
    color: #f5f5f5;
}

#head{
    font-size: 60px;
    color: #a7dbd8;
    margin: 0 auto;
}

#name{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #009dec;
    font-style: italic;

}

#know{
    color: #cc3f4c;
    font-style: oblique;
    font-family: "Lucida Grande", Geneva, Verdana, Arial, sans-serif;
    font-weight: bold;
}

#projects{
    margin-top: 70px;
}

#foot{
    align-items: end;
    margin-top: 600px;
    color:#ff2a00 ;
}

#welcome{
    margin: 0 auto;
    color: #009dec;

}

#knowmore{
    margin: 0 auto;
}

#social{
    text-align: center;
    margin-top: 150px;
    font-size: 25px;

}

#link{
    size: 400px;
}

